VITE_FUSABASE_SCHEMA=YOUR_SCHEMA
VITE_FUSABASE_APP_NAME=YOUR_APP_NAME
VITE_FUSABASE_APP_ID=YOUR_APP_ID
VITE_FUSABASE_PROJECT_ID=YOUR_PROJECT_ID
VITE_FUSABASE_STORAGE_BUCKET=YOUR_STORAGE_BUCKET
VITE_FUSABASE_AUTH_ID=YOUR_AUTH_ID
VITE_FUSABASE_ORDS_HOST=http://localhost:3000/ords/YOUR_SCHEMA/
